<!DOCTYPE html>
<html>
    <head>
        <meta content = "initial-scale = 1, width = device-width" name =  "viewport" />
        <style>
            nav {
                text-align: center;
             } 
        {% block style %} {% endblock %}
        </style>
        <title> {% block title %} {% endblock %} </title>
    </head>
    <body>
        <div class = main>
        <div>
           <div>
                <nav class = "nav-bar">
                    <a href = "{{url_for('blog')}}">Home</a>
                    <a href = "{{url_for('newpost')}}">Make A Post</a>
                </nav>
            </div>
            <div>
                {% block content %} {% endblock %}
            </div>
        </div>
        </div>
    </body>
</html>
